<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  
  <title><%= appname %></title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/app.css">
  <!-- endbuild -->

</head>
<body>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->


 <!-- build:js scripts/main.js -->
 <!-- Main App JS -->
 	<script src="app.js"></script>
 <!-- Add New Component JS Above -->       
        
 <!-- endbuild -->


  

</body>
</html>
